/* ----- Estilos comunes ----- */
form div.formItem {
    margin: 10px auto;
    text-align: center;
}

div.formItem input, 
div.formItem select, 
div.formItem textarea {
    display: block;
    margin: auto;
    min-height: 20px;
    width:100%;
    min-width: 198px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

div.formItem input[type="file"] {
    border: 0;
    border-radius: 0;
    background-color: aliceblue;
}

form {
    width:25%;
    min-width: 398px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1em auto;
    padding: 10px;
    color: #014179;
    background-color: aliceblue;
}

label {
    text-align: left;
}

div.formItem input[type="checkbox"] {
    min-width: 20px;
    display: inline-block;
    position: static;
}

@media (max-width:576px) {
    form {
        width: 82.8%;
        padding: 3.4%;
    }
}

div#divExito,
div#divError {
    display: none;
}

#loadingImg {
    display: none;
}

#loadingImg img {
    width: 32px;
    height: 32px;
}
