#calendario {
    max-width: 600px;
    margin: auto;
}

#calendario * {
    list-style-type: none;
    box-sizing: border-box;
}

.mes {
    padding: 10px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.mes ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.mes ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#findes {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

#findes li {
    color: #666;
    text-align: center;
}

#dias {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

#dias li {
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    color: #777;
    padding: 15px;
    margin: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#dias li.vacia {
    border: none;
    cursor: default;
}

#dias li.activo {
    background: #1abc9c;
    color: white !important;
}

#siguiente,
#anterior {
    cursor: pointer;
}

#dias,
#findes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

@media all and (-ms-high-contrast: none) {
    #dias {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

form div.formItem {
    margin: 10px auto;
    text-align: center;
}

div.formItem input, 
div.formItem select, 
div.formItem textarea {
    display: block;
    margin: auto;
    min-height: 20px;
    min-width: 198px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

div.formItem input[type="file"] {
    border: 0;
    border-radius: 0;
    background-color: aliceblue;
}

form {
    width: 398px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1em auto;
    padding: 10px;
    color: #014179;
    background-color: aliceblue;
}

label {
    text-align: left;
}

div.formItem input[type="checkbox"] {
    min-width: 20px;
    display: inline-block;
    position: static;
}

@media (max-width:575.98px) {
    form {
        width: 82.77777777777778%;
        padding: 3.355704697986577%;
    }
}