*{
    font-family:sans-serif;
  }
thead tr th{
    height:50px;
    background-color:#014179;
    color:white;
    text-align: center;
}
table {
    border:1px #014179 solid;
    border-collapse: collapse;
    width: 60%;
    margin:40px auto;
}
  
th, td {
    font-size: larger;
    border:1px #014179 solid;
    padding: 8px;
    text-align: left;
    width:30%;
}
table thead tr.datos th{
    border:none;
    background-color: white;
    color:#014179;
}
tbody td {
    text-align: center;
} 
textarea {
    width: 100%;
    box-sizing: border-box;
}
.container {
    text-align: center;
    margin-top: 20px;
    
}
.btn {
    display: inline-block;
    cursor: pointer;
}
.btn-prev {
    margin-right: 10px;
}
.btn-next {
    margin-left: 10px;
}
.small-cell {
    width:20%;
}
.btn-info{
    min-width: 150px;
}